<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View All Students</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<script
	src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<h1>All Students</h1>
	<table id="studentData" class="display cell-border" width="100%"
		cellspacing="0">
		<thead>
			<tr>
				<th>No.</th>
				<th>NPM</th>
				<th>Nama</th>
				<th>GPA</th>
				<th>Status kelulusan</th>
				<th>Operasi</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student,iterationStatus: ${students}">
				<td th:text="${iterationStatus.count}"></td>
				<td th:text="${student.npm}">Student NPM</td>
				<td th:text="${student.name}">Student Name</td>
				<td th:text="${student.gpa}">Student GPA</td>
				<td
					th:text="${student.gpa>=3.49}? 'Cum laude!' : 'Sangat Memuaskan!'">Cum
					Laude!</td>
				<td><a th:href="'/student/delete/' + ${student.npm}">Delete
						Data</a> <br /> <a th:href="'/student/update/' + ${student.npm}">Update
						Data</a></td>
			</tr>
		</tbody>
	</table>
	<script>
		$(document).ready(function() {
			$('#studentData').DataTable();
		});
	</script>
</body>
</html>
